
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Radio Chaser Catalog</h1>
        <a class="btn btn-primary" href="{{ url_for('public.add_radio') }}" role="button">Create radio record</a>
    </div>
</div><!-- /.jumbotron -->

<div class="container">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Badge</th>
                    <th scope="col">Radio</th>
                    <th scope="col">Created</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for radio in radios %}
                <tr>
                    <th scope="row">{{ radio.badge }}</th>
                    <th>{{ radio.radio }}</th>
                    <th>{{ radio.created_at.strftime('%Y-%m-%d %I:%M:%S %p') }}</th>
                    <th>
                        {% if current_user and current_user.is_authenticated %}
                        <form action="{{ url_for('public.delete_radio', radio_id=radio.id) }}" method=post>
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                            <button type=submit class="btn btn-danger"><i class="fa fa-trash-alt"></i></button>
                        </form>
                        {% endif %}
                    </th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div><!-- /.row -->
</div>
{% endblock %}

