
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">

        <h1 class="display-3">Radio Chaser Catalog</h1>
    </div>
</div><!-- /.jumbotron -->

<div class="container">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Badge</th>
                    <th scope="col">Radio</th>
                </tr>
            </thead>
            <tbody>
            {% for radio in radios %}
                <tr>
                    <th scope="row">{{ radio.badge }}</th>
                    <th>{{ radio.radio }}</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div><!-- /.row -->
</div>
{% endblock %}

